.sliderImage {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 400px;
  border-radius: 16px;
}

.sliderBtn {
    width: 48px;
    height: 48px;
    border-radius: 24px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px;
    box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.10);
}

.prev {
    left: -24px !important;
}

.next {
    right: -24px !important;
}